// 公共样式

.r-flex-1{
	display: flex;
	justify-content: flex-start;
	align-items: center;;
}
.r-flex-2{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.c-flex-1{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.c-flex-2{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.opacity1{
	opacity:1;
}

.bgc-1{
	background-color: #f5f5f5;
	padding-bottom: 1.03125rem;
}

	
.mr10{
	margin-right: 10px;
}


.wh46{
	width: 46px;
	height: 46px;
}				    

.img-1{
	display: block;
	width: 100%;
	border-radius: 50%;
}

.fs12{
	font-size: 0.75rem;
}
.fs13{
	font-size: 0.8125rem;
}
.fs18{
	font-size: 1.125rem;
} 
.fw600{
	font-weight: 600;
}

.color-2{
	color: #191919;
}

.color-3{
	color: #999999;
}